<nav
  class="fr-sidemenu fr-sidemenu--sticky fr-mb-3w"
  aria-labelledby="fr-sidemenu-title"
>
  <div class="fr-sidemenu__inner">
    <button
      class="fr-sidemenu__btn"
      hidden
      aria-controls="fr-sidemenu-wrapper"
      aria-expanded="false"
    >
      Dans cette rubrique
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item fr-sidemenu__item--active">
          <a class="fr-sidemenu__link" href="#connexion" target="_self"
            >Se connecter</a
          >
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#creation-compte" target="_self"
            >Créer un compte</a
          >
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#a-propos" target="_self"
            >A propos d'AgentConnect</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
