<div class="fr-container fr-mb-5w">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-9">
      <h2 id="connexion">Se connecter</h2>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button
            class="fr-accordion__btn fr-text--lg fr-p-2w"
            aria-expanded="false"
            aria-controls="accordion-114"
          >
            Je vois un message d'erreur
          </button>
        </h3>
        <div class="fr-collapse" id="accordion-114">
          <p class="fr-mb-0"></p>
        </div>
      </section>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button
            class="fr-accordion__btn fr-text--lg fr-p-2w"
            aria-expanded="false"
            aria-controls="accordion-115"
          >
            Je ne reçois pas de code de vérification de "MonComptePro"
          </button>
        </h3>
        <div class="fr-collapse" id="accordion-115">
          <p class="fr-mb-0"></p>
        </div>
      </section>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button
            class="fr-accordion__btn fr-text--lg fr-p-2w"
            aria-expanded="false"
            aria-controls="accordion-116"
          >
            Je n'arrive pas à me connecter
          </button>
        </h3>
        <div class="fr-collapse" id="accordion-116">
          <p class="fr-mb-0">
            Si vous ne trouvez pas de réponse à votre question,
            <a
              href="mailto:support@agentconnect.gouv.fr?subject=Je ne trouve pas de réponse à ma question."
              >contactez-nous.</a
            >
          </p>
        </div>
      </section>
      <h2 class="fr-mt-3w" id="creation-compte">Créer un compte</h2>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button
            class="fr-accordion__btn fr-text--lg fr-p-2w"
            aria-expanded="false"
            aria-controls="accordion-117"
          >
            Pourquoi dois-je créer un compte&nbsp;?
          </button>
        </h3>
        <div class="fr-collapse" id="accordion-117">
          <p class="fr-mb-0"></p>
        </div>
      </section>
      <h2 class="fr-mt-3w" id="a-propos">A propos d'AgentConnect</h2>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button
            class="fr-accordion__btn fr-text--lg fr-p-2w"
            aria-expanded="false"
            aria-controls="accordion-118"
          >
            Quelle équipe développe AgentConnect&nbsp;?
          </button>
        </h3>
        <div class="fr-collapse" id="accordion-118">
          <p class="fr-mb-0"></p>
        </div>
      </section>
    </div>
  </div>
</div>
