
<div class="fr-grid-row fr-grid-row--gutters fr-my-5w">
  <div class="fr-col-12">
    <h2>Qui peut utiliser AgentConnect ?</h2>
  </div>
  <div class="fr-col-12 fr-col-md-4 fr-col-lg-4">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
        <h3 class="fr-tile__title">
          <a class="fr-tile__link" href="/dnum">Directions Numériques</a>
        </h3>
        <p class="fr-tile__desc">Offrez à vos agents un accès à des outils interministériels en un clic.</p>
      </div>
      <div class="fr-tile__img">
        <img
          src="/pictograms/internet.svg"
          class="fr-responsive-img"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4 fr-col-lg-4">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
        <h3 class="fr-tile__title">
          <a class="fr-tile__link" href="/fs">Équipes produit des DNUM</a>
        </h3>
        <p class="fr-tile__desc">Authentifiez vos utilisateurs avec le bouton AgentConnect.</p>
      </div>
      <div class="fr-tile__img">
        <img
        src="/pictograms/city-hall.svg"
        class="fr-responsive-img"
        alt=""
        />
      </div>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-4 fr-col-lg-4">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
        <h3 class="fr-tile__title">
          <a class="fr-tile__link" href="/agents">Agents de la Fonction Publique</a>
        </h3>
        <p class="fr-tile__desc">Accédez simplement à vos outils sans créer de compte.</p>
      </div>
      <div class="fr-tile__img">
        <img
        src="/pictograms/avatar.svg"
        class="fr-responsive-img"
        alt=""
        />
      </div>
    </div>
  </div>

</div>
