<h2 id="offre">Offres disponibles</h2>
<h3 class="fr-h6">Les services ayant implémenté AgentConnect :</h3>
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    <% offres.forEach(function(offre){ %>
        <%- include('./dnum-offre.ejs', {offre}); %>
    <% }); %>
</div>
<h3 class="fr-h5">Les services en cours de tests :</h3>
<ul>
    <% offres_test.forEach(function(offre_test){ %>
        <%- include('./dnum-offre-test.ejs', {offre_test}); %>
    <% }); %>
</ul>
