<h2 id="offre">Offres disponibles</h2>
<h3 class="fr-h6">Les services ayant implémenté AgentConnect :</h3>
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a
                            href="https://osmose.numerique.gouv.fr/plugins/DINUMThemePlugin/jsp/displayPage.jsp?id=c_2251950">OSMOSE</a>
                    </h4>
                    <p class="fr-card__desc">La plateforme collaborative des communautés professionnelles de l’État</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a
                            href="https://resana.numerique.gouv.fr/public/utilisateur/afficherPageConnexionAnnexe?page=apropos">RESANA</a>
                    </h4>
                    <p class="fr-card__desc">Groupes de travail et suite collaborative en ligne</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://webconf.numerique.gouv.fr/apropos">WebConf</a>
                    </h4>
                    <p class="fr-card__desc">Audio, vidéo, chat, partage d'écran et de documents</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://webinaire.numerique.gouv.fr/documentation">Webinaire</a>
                    </h4>
                    <p class="fr-card__desc">Le service de séminaires en ligne pour les agents de l'État</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://doc.demarches-simplifiees.fr/">Démarches Simplifiées</a>
                    </h4>
                    <p class="fr-card__desc">Effectuer une démarche administrative en ligne</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://rizomo.numerique.gouv.fr/signin">RIZOMO</a>
                    </h4>
                    <p class="fr-card__desc">Un raccourci vers les applications collaboratives interministérielles</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://sill.code.gouv.fr/readme">SILL</a>
                    </h4>
                    <p class="fr-card__desc">Catalogue de référence de logiciels libres recommandés pour l'ensemble de l'administration</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://francetransfert.numerique.gouv.fr/upload">France Transfert</a>
                    </h4>
                    <p class="fr-card__desc">Envoyer des fichiers volumineux non sensibles de manière sécurisée à un agent de l'Etat ou entre agents</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://mobilic.beta.gouv.fr/resources/home">MOBILIC</a>
                    </h4>
                    <p class="fr-card__desc">La plateforme numérique gouvernementale de suivi du temps de travail dans le transport routier léger</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://docs.sspcloud.fr/">DATALAB</a>
                    </h4>
                    <p class="fr-card__desc">Travaillez avec Python ou R et disposez de la puissance dont vous avez besoin</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://orion.cerema.fr/auth/realms/CeremaApps/account/#/">ORION</a>
                    </h4>
                    <p class="fr-card__desc">Gestion de compte Keycloak</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a
                            href="https://www.expertises-territoires.fr/jcms/jca_6433/fr/communaute-a-la-une-sante-environnement">Expertises
                            Territoires</a>
                    </h4>
                    <p class="fr-card__desc">Faire connaître ses actions, engager des collaborations, partager des ressources & questionnements</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://mentor.gouv.fr/local/staticpage/view.php?page=ensavoirplus">MENTOR</a>
                    </h4>
                    <p class="fr-card__desc">La plateforme interministérielle de formation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col fr-col-md-4">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h4 class="fr-card__title fr-h6">
                        <a href="https://portail.cisirh.rie.gouv.fr/">CISIRH</a>
                    </h4>
                    <p class="fr-card__desc">Portail des applications interministérielles RH (fonctionne uniquement sur le RIE)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="fr-h5">Les services en cours de tests :</h3>
<ul>
    <li>
        <h4 class="delete-margin fr-h6">E-Campus :</h4>
        <p>Plateforme de formation professionnelle pour les agents du Ministère de l'Intérieur</p>
    </li>
    <li>
        <h4 class="delete-margin fr-h6">Contrats Territoires :</h4>
        <p>Service pour élaborer les Contrats Plan État-Région (CPER)</p>
    </li>
    <li>
        <h4 class="delete-margin fr-h6">SPOTE :</h4>
        <p>Plateforme numérique collaborative des offres numériques de l'État</p>
    </li>
</ul>
