<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AgentConnect</title>
    <meta name="description" content="AgentConnect est un dispositif d’identification des agents de l'État" />
    <meta name="author" content="Beta.Gouv" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="/static/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <!-- 32×32 -->
    <link rel="manifest" href="/static/favicon/manifest.webmanifest" crossorigin="use-credentials">
    <link rel="stylesheet" href="/static/dsfr.min.css" />
    <link rel="stylesheet" href="/static/utility/utility.min.css" />
    <link rel="stylesheet" href="/static/utility/icons/icons.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/feuille-route.css" />
    <script type="module" src="/static/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule="" src="/static/dsfr.nomodule.min.js"></script>
</head>
