<nav class="fr-nav" id="navigation-494" role="navigation" aria-label="Menu principal">
    <ul class="fr-nav__list">
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/">Agents publics</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/fs">Fournisseurs de Services Numériques</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/fi">Fournisseurs d’Identité Ministériels</a>
        </li>
    </ul>
</nav>
