<nav class="fr-nav" id="navigation-494" role="navigation" aria-label="Menu principal">
    <ul class="fr-nav__list">
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/fi">Pour les partenaires Fournisseurs d’Identité</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/fs">Pour les partenaires Fournisseurs de Services</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/agents">Pour les agents</a>
        </li>
    </ul>
</nav>
