<nav class="fr-nav" id="navigation-494" role="navigation" aria-label="Menu principal">
    <ul class="fr-nav__list">
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/dnum">Pour les Directions Numériques</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/equipes">Pour les équipes produit</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/agents" target="_self">Pour les agents</a>
        </li>
        <li class="fr-nav__item">
            <a class="fr-nav__link" href="/contact" target="_self">Contact</a>
        </li>
    </ul>
</nav>
