<h2 class="fr-mt-4w" id="documentation">Documentation technique</h2>
<fieldset class="fr-fieldset" id="checkboxes" aria-labelledby="checkboxes-legend checkboxes-messages">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
        Pour devenir partenaires utilisateurs d’AgentConnect, vous devez :
    </legend>

    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-1" id="checkboxes-1" type="checkbox" aria-describedby="checkboxes-1-messages">
            <label class="fr-label" for="checkboxes-1">
                label
            </label>
            <div class="fr-messages-group" id="checkboxes-1-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-2" id="checkboxes-2" type="checkbox" aria-describedby="checkboxes-2-messages">
            <label class="fr-label" for="checkboxes-2">
                label
            </label>
            <div class="fr-messages-group" id="checkboxes-2-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-3" id="checkboxes-3" type="checkbox" aria-describedby="checkboxes-3-messages">
            <label class="fr-label" for="checkboxes-3">
                label
            </label>
            <div class="fr-messages-group" id="checkboxes-3-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-4" id="checkboxes-4" type="checkbox" aria-describedby="checkboxes-4-messages">
            <label class="fr-label" for="checkboxes-4">
                label
            </label>
            <div class="fr-messages-group" id="checkboxes-4-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-5" id="checkboxes-5" type="checkbox" aria-describedby="checkboxes-5-messages">
            <label class="fr-label" for="checkboxes-5">
                label
            </label>
            <div class="fr-messages-group" id="checkboxes-5-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-messages-group" id="checkboxes-messages" aria-live="assertive">
    </div>
</fieldset>
