<h2 id="offre">Offres disponibles</h2>
<p>Les ministères/opérateurs de l’Etat utilisateurs d’AgentConnect sont :</p>
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    <% offres_ep.forEach(function(offre){ %>
        <%- include('./ep-offre.ejs', {offre}); %>
    <% }); %>
</div>
