<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>

<body>
  <%- include('partials/menu.ejs'); %>
  <div class="fr-container fr-my-5w">
    <div class="fr-grid-row">
      <h1>Accessibilité</h1>
    </div>
    <div class="fr-grid-row">
      <h2>Schéma pluriannuel et plan annuel de la DINUM
      </h2>
      <p>La direction interministérielle du numérique est engagée dans un processus d’amélioration de l’accessibilité de l’ensemble de ses sites. Le schéma pluriannuel décrit les points importants sur lesquels la DINUM s’appuiera pour améliorer l’accessibilité numérique de l’ensemble de ses sites web et applications.</p>
      <a class="fr-raw-link fr-py-2w border-grey fr-col-8" href="https://franceconnect.gouv.fr/files/DINUM_SchemaPluriannuel_2020.pdf">
        <span class="fr-icon-file-download-line" aria-hidden="true"></span>
        <span>Consulter le schéma pluriannuel d’accessibilité 2020-2022 (pdf - 1,7 Mo)</span>
      </a>
      <p class="fr-mt-6v">Il s’accompagne d’un plan d’action annuel qui détaille les opérations programmées et mises en œuvre pour 2020, ainsi que l’état de suivi de ces actions.</p>
      <a class="fr-raw-link fr-py-2w border-grey fr-col-8" href="Consulter le schéma pluriannuel d’accessibilité 2020-2022 (pdf - 1,7 Mo)">
        <span class="fr-icon-file-download-line" aria-hidden="true"></span>
        <span>Consulter le plan annuel d’accessibilité 2020 (pdf - 1 Mo)</span>
      </a>
      <h2 class="fr-col-12 fr-mt-6v">Déclaration de conformité - RGAA 4.0</h2>
      <p><a href="https://agentconnect.gouv.fr/">agentconnect.gouv.fr</a> est actuellement non conforme. L’audit de conformité est en cours de planification. Des travaux d’amélioration seront planfiés à la suite d’un premier diagnostic.</p>
      <h2>Amélioration et contact</h2>
      <p>Vous pouvez nous aider à améliorer l’accessibilité du site en nous signalant les problèmes éventuels que vous rencontrez. Pour se faire, envoyez-nous un courriel à <a href="mailto:contact@modernisation.gouv.fr">contact@modernisation.gouv.fr</a>.</p>
      <h2>Défenseur des droits</h2>
      <p>Si vous constatez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site, que vous nous le signalez et que vous ne parvenez pas à obtenir une réponse rapide de notre part, vous êtes en droit de faire parvenir vos doléances ou demande de saisine à&nbsp;:</p>
      <p class="fr-col-12"><b>Le Défenseur des droits</b></p>
      <p>Par courrier gratuit, sans affranchissement Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07 <br>Téléphone&nbsp;: 09&nbsp;69&nbsp;39&nbsp;00&nbsp;00 ou via le <a href="https://www.defenseurdesdroits.fr/fr/contactez-nous">formulaire en ligne</a>.</p>
    </div>

  </div>
  <%- include('partials/footer.ejs') %>
</body>

</html>
