<!DOCTYPE html>
<html lang="fr">
    <%- include('partials/head.ejs'); %>
    <body>
        <%- include('partials/menu.ejs'); %>
        <div class="background-grey">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--middle fr-py-4w">
                    <div class="hide-content fr-col-1">
                        <img src="/pictograms/avatar.svg" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                    </div>
                    <div class="fr-col-8 fr-col-md-6 fr-col-offset-1">
                        <h1>Agents de la fonction publique </h1>
                        <p class="fr-mb-0 fr-h4">Accédez simplement à vos outils sans créer de compte.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-container fr-mt-4w">
            <div class="fr-grid-row">
                <h2 class="fr-col-offset-1">À quoi sert AgentConnect ?</h2>
            </div>
            <div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters">
                <div class="hide-content fr-col-offset-1 fr-col-4">
                    <img src="/pictograms/cyberspace2.png" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                </div>
                <div class="fr-col-md-6">
                    <ul>
                        <li>Un seul compte professionnel pour plusieurs accès</li>
                        <li>Des services RH, des outils collaboratifs et des outils métiers à porté de clic !</li>
                        <li>Une offre qui s'enrichit chaque mois</li>
                    </ul>
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters">
                <h2 class="fr-col-offset-1">Comment ça marche ?</h2>
            </div>
            <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mb-2w">
                <div class="fr-col-12 fr-col-md-3">
                    <div class="text-centered">
                        <h3 class="color-blue">1</h3>
                        <p>Je clique sur le bouton AgentConnect</p>
                    </div> 
                    <div>
                        <img src="/pictograms/tuto-1.svg" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-3 alignment">
                    <div class="text-centered">
                        <h3 class="color-blue">2</h3>
                        <p>Je cherche mon administration</p>
                    </div>
                    <div>
                        <img src="/pictograms/tuto-2.svg" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-3">
                    <div class="text-centered">
                        <h3 class="color-blue">3</h3>
                        <p>Je sélectionne mon compte professionnel</p>
                    </div>
                    <div>
                        <img src="/pictograms/tuto-3.svg" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-3">
                    <div class="text-centered">
                        <h3 class="color-blue">4</h3>
                        <p>Je rentre mes identifiants professionnels</p>
                    </div>
                    <div>
                        <img src="/pictograms/tuto-4.svg" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/agents/agents-contact.ejs'); %>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>
