<!DOCTYPE html>
<html lang="fr">
    <%- include('partials/head.ejs'); %>
    <body>
        <%- include('partials/menu.ejs'); %>
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-9 fr-my-6w">
                    <h1>Questions fréquentes</h1>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn fr-text--lg fr-p-2w" aria-expanded="false" aria-controls="accordion-114">Pourquoi mon administration n’apparaît pas dans la barre de recherche proposée par AgentConnect ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-114">
                            <p class="fr-mb-0">AgentConnect étant en cours de déploiement au sein des ministères / opérateurs de l’Etat, il est possible que votre administration de rattachement ne soit pas encore partenaire d’AgentConnect. Dans ce cas, il convient d’utiliser votre moyen d’authentification habituel pour accéder à l’application.</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn fr-text--lg fr-p-2w" aria-expanded="false" aria-controls="accordion-115">Après la saisie correcte de mes identifiants, pourquoi je n’arrive toujours pas à accéder à mon application ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-115">
                            <p>Le problème rencontré peut être lié à vos identifiants ou à votre habilitation.Nous vous invitons à contacter :</p>
                            <ul>
                                <li>Pour les problématiques d’identifiant, le support de votre administration en charge de la gestion des comptes.</li>
                                <li>Pour les problématiques d’habilitation, le support de l’application concernée dont les coordonnées figurent dans la rubrique « contact », le plus souvent, en bas de la page.</li>
                            </ul>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn fr-text--lg fr-p-2w" aria-expanded="false" aria-controls="accordion-116">Que dois-je faire en cas de message d’erreur ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-116">
                            <p class="fr-mb-0">Lorsque vous rencontrez un message d’erreur, merci de respecter les indications données.</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn fr-text--lg fr-p-2w" aria-expanded="false" aria-controls="accordion-117">Si vous ne trouvez pas de réponse à votre problème.</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-117">
                            <p class="fr-mb-0">Si notre FAQ n’a pas pu répondre à votre problème, merci de contacter le support de votre administration/entité.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>
