<!DOCTYPE html>
<html lang="fr">
<%- include('partials/header.ejs'); %>
    <body>
        <%- include('partials/menu.ejs'); %>
        <div class="fr-notice fr-notice--info fr-mx-32v fr-my-10v">
            <div class="fr-container">
                <div class="fr-notice__body">
                    <p class="fr-notice__title">
                            Ce site est actuellement en construction.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>