<!DOCTYPE html>
<html lang="fr">
    <%- include('partials/head.ejs'); %>
    <body>
        <%- include('partials/menu.ejs'); %>
        <div class="background-grey">
            <div class="fr-container">
                <div class="fr-grid-row fr-py-4w">
                    <div class="fr-col-8 fr-col-md-6 fr-col-offset-1">
                        <h1 class="fr-mb-0">Feuille de route</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-container fr-my-4w">
            <div class="fr-grid-row fr-col-8 fr-col-offset-1">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <nav class="navmenu">
                    <ul class="list-feuille-route fr-raw-link">
                        <li>mai 2022 <br> on a fait ça</li>
                        <li class="active">mai 2023 <br> on fait ça</li>
                        <li>mai 2030 <br> on va faire ça</li>
                        <li>mai 2032 <br> on va faire ça</li>
                        <li>mai 2099 <br> on va faire ça</li>
                    </ul>
                </nav>
            </div>
        </div>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>
