<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>

<body>
  <%- include('partials/menu.ejs'); %>
  <div class="fr-background-alt--grey">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--middle fr-py-4w">
        <div class="fr-hidden fr-unhidden-md fr-col-1">
          <img src="/pictograms/calendar.png" class="fr-responsive-img fr-artwork" aria-hidden="true" alt="" />
        </div>
        <div class="fr-col-8 fr-col-offset-1">
          <h1 class="fr-mb-0">Feuille de route d'AgentConnect</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-8 fr-col-offset-1">
        <!-- <p></p> -->
        <nav class="navmenu fr-col-12 fr-col-md-6">
          <ul>
            <li>
              <div class="bubble">
                <h2 class="fr-h6 fr-mb-0">Mai 2022</h2>
                <p class="fr-mb-0">Ce qu'on a fait</p>
              </div>
            </li>
            <li class="active">
              <div class="bubble">
                <h2 class="fr-h6 fr-mb-0">Mai 2023</h2>
                <p class="fr-mb-0">Ce qu'on est en train de faire</p>
              </div>
            </li>
            <li>
              <div class="bubble">
                <h2 class="fr-h6 fr-mb-0">Mai 2024</h2>
                <p class="fr-mb-0">Ce qu'on va faire</p>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer.ejs'); %>
</body>

</html>
