<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>

<body>
  <%- include('partials/menu.ejs'); %>
  <div class="fr-container--fluid">
    <div class="fr-grid-row">
      <iframe class="fr-col-12" src="https://stats.agentconnect.gouv.fr/public/dashboard/59405cec-eb60-47c6-9eb2-0f4ee9a0378c" frameborder="0" width="100%" height="2000" allowtransparency>
      </iframe>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
</body>

</html>
