/* CSS POUR LA PAGE AGENTS */

.space-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-centered{
  text-align: center;
}

.js-eligibility-hidden{
  display: none;
}
