<h2 id="implementer-ac">Pourquoi implémenter AgentConnect&nbsp;?</h2>
<ul class="column-list">
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Gagnez du temps</h3>
    <p>AgentConnect s'occupe d'authentifier vos utilisateurs : plus besoin de gérer vos comptes.</p>
  </li>
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Simplifiez la navigation</h3>
    <p>Une authentification unique qui permet à l’utilisateur de naviguer entre plusieurs services «&nbsp;AgentConnectés&nbsp;» lorsque la gestion du compte le permet.</p>
  </li>
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Identifiez facilement vos utilisateurs</h3>
    <p>Chaque administration est garante de la liste de ses agents et des informations d’identité.</p>
  </li>
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Protégez les données des agents</h3>
    <p>Les données personnelles des agents sont protégées.</p>
  </li>
</ul>
