<h2 class="fr-mt-4w" id="implementation-fs">Pré-requis pour devenir Fournisseurs de Services</h2>
<fieldset class="fr-fieldset" id="checkboxes" aria-labelledby="checkboxes-legend checkboxes-messages">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
        Pour être en mesure d’implémenter AgentConnect sur un de vos services numériques en ligne, vous devez :
    </legend>

    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-1" id="checkboxes-1" type="checkbox" aria-describedby="checkboxes-1-messages">
            <label class="fr-label" for="checkboxes-1">
                Être un service numérique développé par un ministère ou un opérateur de l’État
            </label>
            <div class="fr-messages-group" id="checkboxes-1-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-2" id="checkboxes-2" type="checkbox" aria-describedby="checkboxes-2-messages">
            <label class="fr-label" for="checkboxes-2">
                Être exposé sur le réseau interministériel de l’État (RIE) ou sur internet
            </label>
            <div class="fr-messages-group" id="checkboxes-2-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-3" id="checkboxes-3" type="checkbox" aria-describedby="checkboxes-3-messages">
            <label class="fr-label" for="checkboxes-3">
                Utiliser le protocole OpenID Connect sur lequel s’appuie AgentConnect (couche d’identification basée sur protocole OAuth 2.0). Les Fournisseurs de Services doivent être des clients OpenID Connect (aussi appelés relying parties)
            </label>
            <div class="fr-messages-group" id="checkboxes-3-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-4" id="checkboxes-4" type="checkbox" aria-describedby="checkboxes-4-messages">
            <label class="fr-label" for="checkboxes-4">
                Lancer une démarche d’homologation RGS ou disposer d’une attestation d’homologation de niveau 1 (authentification login / mdp) pour intégrer AgentConnect
            </label>
            <div class="fr-messages-group" id="checkboxes-4-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-5" id="checkboxes-5" type="checkbox" aria-describedby="checkboxes-5-messages">
            <label class="fr-label" for="checkboxes-5">
                Être en capacité de faire la réconciliation d’identité à partir des données d’identité transmises par AgentConnect pour gérer les habilitations
            </label>
            <div class="fr-messages-group" id="checkboxes-5-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-messages-group" id="checkboxes-messages" aria-live="assertive">
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-5" id="checkboxes-5" type="checkbox" aria-describedby="checkboxes-5-messages">
            <label class="fr-label" for="checkboxes-5">
                Être en mesure d’assurer le maintien d’une procédure alternative à AgentConnect. Cette procédure doit permettre l’accès, dans des conditions analogues, à la même prestation de service public
            </label>
            <div class="fr-messages-group" id="checkboxes-5-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-messages-group" id="checkboxes-messages" aria-live="assertive">
    </div>
</fieldset>
<p>Pour plus d’informations, n’hésitez pas à consulter <a href="https://github.com/france-connect/Documentation-AgentConnect/blob/main/doc_fs.md">la documentation technique</a> mise à votre disposition.</p>
