<h2 class="fr-mt-8w" id="prerequis-fs">Pré-requis pour devenir Fournisseur de Services</h2>
<fieldset class="fr-fieldset" id="checkboxes" aria-labelledby="checkboxes-legend checkboxes-messages">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
        Pour être en mesure d’implémenter AgentConnect sur un de vos services numériques en ligne, vous devez&nbsp;:
    </legend>

    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-1" id="checkboxes-1" type="checkbox" aria-describedby="checkboxes-1-messages">
            <label class="fr-label" for="checkboxes-1">
                Être un service numérique développé par une administration
            </label>
            <div class="fr-messages-group" id="checkboxes-1-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-2" id="checkboxes-2" type="checkbox" aria-describedby="checkboxes-2-messages">
            <label class="fr-label" for="checkboxes-2">
                Être exposé sur le réseau interministériel de l’État (RIE) ou sur internet
            </label>
            <div class="fr-messages-group" id="checkboxes-2-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-fieldset__element">
        <div class="fr-checkbox-group">
            <input name="checkboxes-3" id="checkboxes-3" type="checkbox" aria-describedby="checkboxes-3-messages">
            <label class="fr-label" for="checkboxes-3">
                Utiliser le protocole OpenID Connect
            </label>
            <div class="fr-messages-group" id="checkboxes-3-messages" aria-live="assertive">
            </div>
        </div>
    </div>
    <div class="fr-messages-group" id="checkboxes-messages" aria-live="assertive">
    </div>
    <div class="fr-messages-group" id="checkboxes-messages" aria-live="assertive">
    </div>
</fieldset>
<p>Pour plus d’informations, n’hésitez pas à consulter <a
        href="https://github.com/france-connect/Documentation-AgentConnect/blob/main/doc_fs.md">la documentation
        technique</a> mise à votre disposition.</p>
