<h2 id="implementation-fs" class="fr-mt-8w">Quelles sont les étapes d’implémentation&nbsp;?</h2>
<p class="fr-mb-0"><b class="fr-text-title--blue-france">1. </b>Vous consultez les conditions d’éligibilité à AgentConnect. Les conditions juridiques, de sécurité et de qualité de service sont détaillées dans nos conditions générales d’utilisations&nbsp;:
    <ul class="fr-ml-2w">
        <li><a class="" href="https://github.com/france-connect/Documentation-AgentConnect/blob/main/doc_fs/cgu_fca/20210528-DINUM-AC-CGU_FS-v1.2.pdf">Conditions Générales d’Utilisation AgentConnect Fournisseurs de Services</a></li>
        <li><a href="https://github.com/france-connect/Documentation-AgentConnect/blob/main/doc_fs/cgu_fca/20210528-DINUM-AC-Annexe%20CGU%20FS-v1.3.pdf">Annexe des CGU Fournisseurs de Services</a></li>
    </ul>
</p>
<p><b class="fr-text-title--blue-france">2. </b>Vous soumettez une demande d’habilitation via <a href="https://datapass.api.gouv.fr/agent-connect-fs">datapass.api.gouv.fr</a> et vous transmettez toutes les informations nécessaires à la validation de votre demande (respect du RGPD, contact du responsable technique, plateforme souhaitée, données recueillies, etc).
</p>
<p><b class="fr-text-title--blue-france">3. </b>Si votre demande est acceptée, vous pouvez alors vous rendre sur le site <a href="https://www.demarches-simplifiees.fr/commencer/demande-creation-fs-fca">www.demarches-simplifiees.fr</a> afin de remplir le formulaire de demande d’enrôlement de votre Fournisseur de Services sur notre plateforme de test (plateforme d’intégration).
</p>
<p><b class="fr-text-title--blue-france">4. </b>Si votre implémentation est validée par l’équipe AgentConnect, vous pouvez vous rendre sur le site <a href="https://www.demarches-simplifiees.fr/commencer/demande-creation-fs-fca">www.demarches-simplifiees.fr</a> afin de remplir le formulaire de demande d’enrôlement de votre Fournisseur de Services sur la plateforme de production.
</p>
