<h2 id="offre-ep" class="fr-mt-6w">Offres disponibles</h2>
<div class="fr-table">
    <table>
        <caption class="fr-h6">Ministères et administrations pouvant se connecter via AgentConnect :</caption>
        <thead>
            <tr>
                <th scope="col">Organisation</th>
                <th scope="col">Directions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DGDDI</td>
                <td>Toutes les directions</td>  
            </tr>
            <tr>
                <td>INRAE</td>
                <td>Toutes les directions</td> 
            </tr>
            <tr>
                <td>CEREMA</td>
                <td>Toutes les directions</td>
            </tr>
            <tr>
                <td>Ministère de la Transition énergétique</td>
                <td>Toutes les directions</td>
            </tr>
            <tr>
                <td>Ministère de l’Economie, des Finances et de la Souveraineté industrielle et numérique</td>
                <td>
                    <ul>
                        <li>Direction générale des Douanes et Droits indirects</li>
                        <li>Institut National de la Statistique et des Etudes Economiques</li>
                        <li>Direction générale des Finances publiques</li>
                        <li>Direction interministérielle du numériques</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Ministère de la Transition écologique et de la Cohésion des territoires</td>
                <td>Toutes les directions</td>
            </tr>
        </tbody>
    </table>
    
</div>
<span class="fr-icon-file-download-line" aria-hidden="true"></span>
<a href="https://agentconnect.gouv.fr/files/Liste_des_entit%C3%A9s_concern%C3%A9es_pour_les_agents_de_l_Administration_Centrale.pdf">Liste des entités concernées pour les agents de l'Administration Centrale du MEFSIN (PDF 611 k)</a>
