<div class="fr-table fr-pt-0">
    <table>
        <thead>
            <tr>
                <th scope="col">Organisation</th>
                <th scope="col">Directions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CEREMA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>INRAE</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Commissariat à l'Énergie Atomique (CEA)</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Ministère de l’Économie, des Finances et de la Souveraineté industrielle et numérique</td>
                <td>
                    <ul class="fr-mt-0">
                        <li>Administration centrale
                            <a class="fr-text--xs" href="https://agentconnect.gouv.fr/liste-entites-administration-centrale.pdf">(&nbsp;Agents de l'Administration Centrale du MEFSIN concernés&nbsp;-&nbsp;PDF&nbsp;611&nbsp;ko&nbsp;)</a>
                            <span class="fr-icon-file-download-line" aria-hidden="true"></span>
                        </li>
                        <li>Direction générale des Douanes et Droits indirects (DGDDI)</li>
                        <li>Direction générale des Finances publiques (DGFIP)</li>
                        <li>Institut National de la Statistique et des Études Économiques (INSEE)</li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td>Ministère de la Transition écologique et de la Cohésion des territoires</td>
                <td>Toutes les directions</td>
            </tr>
            <tr>
                <td>Ministère de la Transition énergétique</td>
                <td>Toutes les directions</td>
            </tr>
        </tbody>
    </table>
</div>

<p>De plus, avec le Fournisseur d'Identité <a href="https://moncomptepro.beta.gouv.fr/" target="_blank">MonComptePro</a>, développé par la Direction Interministérielle du Numérique, AgentConnect est ouvert à tous les agents de la fonction publique en France.</p>
