<div class="fr-table fr-pt-0">
  <table>
    <thead>
      <tr>
        <th scope="col">Organisation</th>
        <th scope="col">Domaines email</th>
        <th scope="col">Directions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CEREMA</td>
        <td><i>*@cerema.fr</i></td>
        <td>
          Centre d'études et d'expertise sur les risques, l'environnement, la
          mobilité et l'aménagement
        </td>
      </tr>
      <tr>
        <td>INRAE</td>
        <td><i>*@inrae.fr</i></td>
        <td>
          Institut national de recherche pour l'agriculture, l'alimentation et
          l'environnement
        </td>
      </tr>
      <tr>
        <td>Commissariat à l'Énergie Atomique (CEA)</td>
        <td>
          <i>*@cea.fr, *@cte.gouv.fr, *@ddcg.fr, *@dsnd.fr</i>
        </td>

        <td>Commissariat à l'énergie atomique et aux énergies alternatives</td>
      </tr>
      <tr>
        <td>
          Ministère de l'Économie, des Finances et de la Souveraineté
          industrielle et numérique (MEFSIN)
        </td>

        <td>
          <i>
            *@finances.gouv.fr, *@afa.gouv.fr, *@igf.finances.gouv.fr,
            *@ape.finances.gouv.fr, *@transformation.gouv.fr,
            *@cabinets.finances.gouv.fr, *@cabinet.finances.gouv.fr,
            *@syndicats.finances.gouv.fr, *@ofgl.fr,
            *@territoires-industrie.gouv.fr, *@numerique.gouv.fr,
            *@industrie.gouv.fr, *@autoritedelaconcurrence.fr,
            *@modernisation.gouv.fr, *@anc.gouv.fr, *@cades.fr, *@sgae.gouv.fr,
            *@ape.gouv.fr
          </i>
        </td>
        <td>
          <ul class="fr-mt-0">
            <li>
              Administration centrale
              <a
                class="fr-text--xs"
                href="https://agentconnect.gouv.fr/liste-entites-administration-centrale.pdf"
                >(&nbsp;Agents de l'Administration Centrale du MEFSIN
                concernés&nbsp;-&nbsp;PDF&nbsp;611&nbsp;ko&nbsp;)</a
              >
              <span
                class="fr-icon-file-download-line"
                aria-hidden="true"
              ></span>
            </li>
            <li>Direction générale des Douanes et Droits indirects (DGDDI)</li>
            <li>Direction générale des Finances publiques (DGFIP)</li>
            <li>
              Institut National de la Statistique et des Études Économiques
              (INSEE)
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Cerbère</td>
        <td>
          <i>*@developpement-durable.gouv.fr</i>
        </td>
        <td>Ministère de la Transition Écologique / Énergétique</td>
      </tr>
      <tr>
        <td>Curasso</td>
        <td>
          <i>*@gendarmerie.interieur.gouv.fr </i>
        </td>
        <td>Ministère de l'Intérieur - Gendarmerie Nationale</td>
      </tr>
      <tr>
        <td>INSEE</td>
        <td>
          <i>*@insee.fr </i>
        </td>
        <td>
          Institut National de la Statistique et des Etudes Economiques (INSEE)
        </td>
      </tr>
      <tr>
        <td>DGDDI</td>
        <td>
          <i>*@douane.finances.gouv.fr </i>
        </td>
        <td>Direction Générale des Douanes et Droits Indirects (DGDDI)</td>
      </tr>
      <tr>
        <td>FIDGFiP</td>
        <td>
          <i>*@dgfip.finances.gouv.fr</i>
        </td>
        <td>Direction Générale des Finances Publiques (DGFIP)</td>
      </tr>
      <tr>
        <td>Passage2</td>
        <td>
          <i>*@interieur.gouv.fr</i>
        </td>
        <td>Ministère de l'Intérieur</td>
      </tr>
      </tr>
      <tr>
        <td>AROBAS</td>
        <td>
          <i>*@diplomatie.gouv.fr</i>
        </td>
        <td>Ministère de l'Europe et des Affaires étrangères</td>
      </tr>
      <tr>
        <td>AROBAS</td>
        <td>
          <i>*@diplomatie.gouv.fr</i>
        </td>
        <td>Ministère de l'Europe et des Affaires étrangères</td>
      </tr>
      <tr>
        <td>SSO Ministère de la Culture</td>
        <td>
          <i>*@culture.gouv.fr</i>
        </td>
        <td>Ministère de la Culture</td>
      </tr>
      <tr>
        <td>Ministère de la Justice</td>
        <td>
          <i>*@justice.gouv.fr</i>
        </td>
        <td>Ministère de la Justice</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  De plus, avec le Fournisseur d'Identité
  <a href="https://moncomptepro.beta.gouv.fr/" target="_blank">MonComptePro</a>,
  développé par la Direction Interministérielle du Numérique, AgentConnect est
  ouvert à tous les agents de la fonction publique en France.
</p>
