<!-- <h2 id="rex">Retour d'expérience</h2>
<figure class="fr-quote fr-quote--column">
    <blockquote>
        <p>« Rubrique en construction »</p>
    </blockquote>
    <figcaption>
        <p class="fr-quote__author">Construction</p>
        <div class="fr-quote__image">
            <img src="https://placehold.co/184x184?text=En+construction" class="fr-responsive-img" alt="" />
        </div>
    </figcaption>
</figure> -->
