<div class="background-blue fr-py-8w fr-px-1w">
    <div class="fr-container background-white">
        <div class="fr-grid-row fr-grid-row--middle">
            <div class="fr-content-media__img fr-col-2 fr-col-offset-1 hide-content">
                <img class="fr-responsive-img" aria-hidden="true" src="/pictograms/illu-3D-agent.png" alt="" />
            </div>
            <div class="fr-col-md-8 fr-px-5w fr-py-6w">
                <h2>Testez votre égibilité !</h2>
                <p>Les services disponibles s'enrichissent régulièrement en fonction de votre administration.</p>
                <div class="fr-input-group">
                    <label class="fr-label" for="email-1">
                        Votre adresse email professionnelle
                        <span class="fr-hint-text">Format attendu : nom@domaine.fr</span>
                    </label>

                    <div class="fr-container--fluid">
                        <div class="fr-grid-row fr-grid-row--middle">
                            <input class="fr-input fr-col-sm-12 fr-col-md-9" name="email" autocomplete="on" id="email-1" type="email">
                            <button class="fr-btn text-centered">
                                Valider
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
