<script type="text/javascript" src="/js/checkEmail.js"></script>
    <div class="fr-container fr-my-8w">
        <div class="fr-callout fr-background-default--grey shade">
            <div class="fr-grid-row fr-grid-row--middle">
                <div class="fr-content-media__img fr-col-2 fr-hidden fr-unhidden-md">
                    <img class="fr-responsive-img" aria-hidden="true" src="/pictograms/illu-3D-agent.png" alt="" />
                </div>
                <div class="fr-col-md-8 fr-col-offset-1">
                    <div id="eligibilityCheck">
                        <h2 class="fr-callout__title">Testez votre égibilité&nbsp;!</h2>
                        <p class="fr-callout__text">
                            Vous êtes membre de la fonction publique d'État ou d'un opérateur de l'État ? 
                        </p>
                        <fieldset class="fr-fieldset fr-mt-3w" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages">
                            <div class="fr-fieldset__element fr-fieldset__element--inline">
                                <div class="fr-radio-group">
                                    <input type="radio" id="radio-inline-1" name="radio-inline" value="yes">
                                    <label class="fr-label" for="radio-inline-1">
                                        Oui
                                    </label>
                                </div>
                            </div>
                            <div class="fr-fieldset__element fr-fieldset__element--inline fr-col-offset-4">
                                <div class="fr-radio-group">
                                    <input type="radio" id="radio-inline-3" name="radio-inline" value="no">
                                    <label class="fr-label" for="radio-inline-3">
                                        Non
                                    </label>
                                </div>
                            </div>
                            <div class="fr-messages-group" id="radio-inline-messages" aria-live="assertive">
                            </div>
                        </fieldset>
                    </div>

                    <div class="fr-select-group js-eligibility-hidden" id="eligible">
                        <label class="fr-label" for="select">
                          Ministères et opérateurs rattachés à AgentConnect
                        </label>
                        <select class="fr-select" id="select" name="select">
                          <option value="" selected disabled hidden>Selectionnez une option</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                          <option value="4">Option 4</option>
                        </select>
                    </div>
                    <p class="js-eligibility-hidden" id="notEligible">AgentConnect n'est actuellement disponible que pour les membres de la fonction publique</p>
                </div>
            </div>  
        </div>
    </div>
