<div class="fr-mb-7w">
    <h2>Ministères disponibles à ce jour</h2>
    <h3 class="fr-h6">Les agents des Ministères et Opérateurs de l’État cités ci-dessous peuvent se connecter via AgentConnect.</h3>
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
        <% offres_fs_agents.forEach(function(offre){ %>
            <%- include('../fs/fs-offre.ejs', {offre}); %>
        <% }); %>
    </div>
    <a href="https://agentconnect.gouv.fr/files/Liste_des_entit%C3%A9s_concern%C3%A9es_pour_les_agents_de_l_Administration_Centrale.pdf">Liste des entités concernées pour les agents de l'Administration Centrale.</a>    
</div>
