<h2 id="avantages">Pourquoi intégrer AgentConnect&nbsp;?</h2>
<ul class="column-list">
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Profitez d'un parcours fluide</h3>
    <p>Une authentification unique qui permet à l’utilisateur de naviguer entre plusieurs services «&nbsp;AgentConnectés&nbsp;» lorsque la gestion du compte le permet.</p>
  </li>
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Rejoignez le cercle interministériel</h3>
    <p>AgentConnect, c'est le standard reconnu et adopté par l’ensemble de l’écosystème au travers d’un bouton reconnaissable.</p>
  </li>
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Restez maître de vos données</h3>
    <p>Chaque administration est garante de la liste de ses agents et des informations d’identité.</p>
  </li>
  <li class="fr-mr-5w">
    <h3 class="fr-h6 fr-mb-0">Donnez accès à de nombreux outils</h3>
    <p>Outils métiers, suite collaborative, transferts de fichiers : de nombreux outils facilement accessibles pour faciliter le travail des agents.</p>
  </li>
</ul>
