<h2 id="documentation-fi" class="fr-mt-8w">Quelles sont les étapes d’implémentation&nbsp;?</h2>
<p class="fr-mb-0"><b class="fr-text-title--blue-france">1. </b>Vous consultez les conditions d’éligibilité à AgentConnect. Les conditions juridiques, de sécurité et de qualité de service sont détaillées dans nos conditions d’adhésion des Fournisseurs d’Identité au service AgentConnect&nbsp;:
    <ul class="fr-ml-2w">
        <li><a class="" href="https://github.com/france-connect/Documentation-AgentConnect/blob/main/doc_fi/cfa_fca/20210528-DINUM-AC-CDA_FI-v1.2.pdf">Conditions d’adhésion des Fournisseurs d’Identité au service AgentConnect</a></li>
        <li><a href="https://github.com/france-connect/Documentation-AgentConnect/blob/main/doc_fi/cfa_fca/20210528-DINUM-AC-Annexe_CDA_FI_v1.2.pdf">Annexe des CAF Fournisseurs d'Identité</a></li>
    </ul>
</p>
<p><b class="fr-text-title--blue-france">2. </b>Vous soumettez une demande d’habilitation via <a href="https://datapass.api.gouv.fr/agent-connect-fi">datapass.api.gouv.fr</a> et vous transmettez toutes les informations nécessaires à la validation de votre demande (respect du RGPD, contact du responsable technique, plateforme souhaitée, données recueillies, etc).
</p>
<p><b class="fr-text-title--blue-france">3. </b>Si votre demande est acceptée, vous pouvez alors vous rendre sur le site <a href="https://www.demarches-simplifiees.fr/commencer/demande-creation-fi-fca">www.demarches-simplifiees.fr</a> afin de remplir le formulaire de demande d’enrôlement de votre Fournisseur d'Identité sur notre plateforme de test (plateforme d’intégration).
</p>
<p><b class="fr-text-title--blue-france">4. </b>Vous présentez vos développements pour une qualification par l’équipe AgentConnect en vous rendant sur le site <a href="https://www.demarches-simplifiees.fr/commencer/demande-recette-fi-fca">www.demarches-simplifiees.fr</a> afin de remplir le formulaire de demande de recette.
</p>
<p><b class="fr-text-title--blue-france">5. </b>Avant de faire votre demande de mise en production, il est obligatoire de contacter l’équipe AgentConnect par email (<a href="mailto:support.partenaires@agentconnect.gouv.fr">support.partenaires@agentconnect.gouv.fr</a>) afin de nous informer du “mariage” Fournisseur de Services / Fournisseur d’Identité souhaité. Il est également nécessaire de nous communiquer les éléments relatifs à la politique de sécurité et de gestion des mots de passe de votre Fournisseur d’Identité.
</p>
<p><b class="fr-text-title--blue-france">6. </b>Si votre implémentation est validée par l’équipe AgentConnect et si les informations nécessaires listées ci-dessus ont bien été transmises, vous pouvez se rendre sur le site <a href="https://www.demarches-simplifiees.fr/commencer/demande-creation-fi-fca">www.demarches-simplifiees.fr</a> afin de remplir le formulaire de demande d’enrôlement de votre Fournisseur d'Identité sur la plateforme de production.
</p>
