<nav class="fr-sidemenu fr-sidemenu--sticky fr-mb-3w" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
      Dans cette rubrique
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item fr-sidemenu__item--active">
          <a class="fr-sidemenu__link" href="#avantages" target="_self">Pourquoi intégrer AgentConnect&nbsp;?</a>
        </li>
        <!-- <li class="fr-sidemenu__iem">
                    <a class="fr-sidemenu__link" href="#rex" target="_self">Retour d'expérience</a>
                </li> -->
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#offre-dnum" target="_self">Offres disponibles</a>
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#documentation" target="_self">Pré-requis pour devenir Fournisseur d'Identité</a>
        </li>
        <li class="fr-sidemenu__item">
          <a class="fr-sidemenu__link" href="#documentation-fi" target="_self">Étapes d'implémentation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
