<h2 id="offre-dnum">Offres disponibles</h2>
<h3 class="fr-h6">Les services ayant implémenté AgentConnect :</h3>
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    <% offres_dnum.forEach(function(offre){ %>
        <%- include('./fi-offre.ejs', {offre}); %>
    <% }); %>
</div>
<h3 class="fr-h5">Les services en cours de test :</h3>
<ul>
    <% offres_dnum_test.forEach(function(offre_test){ %>
        <%- include('./fi-offre-test.ejs', {offre_test}); %>
    <% }); %>
</ul>
