<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-sm-3">
      <div class="bordered fr-p-2w">
        <img alt="LOGO TCHAP" class="fr-responsive-img" height="377" src="/pictograms/logo-tchap.png" width="369">
      </div>
    </div>
    <div class="fr-col-12 fr-col-sm-9">
      <h2>Vous souhaitez suivre les actualités d'AgentConnect ?</h2>
      <p>Rejoignez dès maintenant notre salon sur Tchap et faites partie de notre communauté de personnes gravitant autour de l'Authentification !</p>
      <p>Vous aurez un accès aux dernières actualités sur nos fonctionnalités, un espace de questions avec notre équipe ou rencontrer d'autres Fournisseurs d'Identité.</p>
      <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://www.tchap.gouv.fr/#/room/!kBghcRpyMNThkFQjdW:agent.dinum.tchap.gouv.fr">Rejoignez le Salon Authentification</a>
    </div>
  </div>
</div>
